<a href="https://colab.research.google.com/github/MIARD/AI-CSE422/blob/main/NaiveBayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv("/content/test4.csv")
print(data)

   Land Elevation Weather Soil Type  Temp Crop Cultivation
0            High   Sunny     Sandy    35              Yes
1            High   Sunny      Clay    24               No
2            High   Sunny      Clay    14              Yes
3            High   Rainy      Clay    26               No
4          Medium   Rainy      Silt    21              Yes
5          Medium   Sunny      Silt    11               No
6          Medium   Sunny      Clay    30              Yes
7          Medium   Sunny      Clay    19               No
8             Low   Rainy     Sandy    12              Yes
9             Low   Rainy     Sandy    28               No
10            Low   Sunny     Sandy    23              Yes
11            Low   Sunny      Silt    13               No

In [ ]:

# data.loc[(data["Temp"] >=16, data["Temp"] <=25, "Temp")] = "Medium"
# data['Temp'] = np.where((data["Temp"] >=16 ) & (data["Temp"] <=25) , "medium", data['Temp'])
# data.loc[ data["Temp"] >25, "Temp"] = "high"
conditions = [
    (data['Temp'] < 16),
    (data['Temp'] >= 16) & (data['Temp'] <= 25),
    (data['Temp'] > 25)
]
values = ['Low', 'Medium', 'High']
data['Temp'] = np.select(conditions, values)

print(data)

   Land Elevation Weather Soil Type    Temp Crop Cultivation
0            High   Sunny     Sandy    High              Yes
1            High   Sunny      Clay  Medium               No
2            High   Sunny      Clay     Low              Yes
3            High   Rainy      Clay    High               No
4          Medium   Rainy      Silt  Medium              Yes
5          Medium   Sunny      Silt     Low               No
6          Medium   Sunny      Clay    High              Yes
7          Medium   Sunny      Clay  Medium               No
8             Low   Rainy     Sandy     Low              Yes
9             Low   Rainy     Sandy    High               No
10            Low   Sunny     Sandy  Medium              Yes
11            Low   Sunny      Silt     Low               No

In [ ]:
len(data[(data['Weather']=='sunny') & (data['Cloudy'] == 'cloudy')])

3

In [ ]:
def margin(data, main, target):
  c, c_count = np.unique(data[main], return_counts=True)
  r, r_count = np.unique(data[target], return_counts=True)
  tst = pd.DataFrame(np.random.randn(len(r), len(c)), index = r, columns=c)
  s_t = tst.copy()
  for col, cval in zip(c, c_count):
    for row in r:
      rval = len(data[(data[main]==col) & (data[target] == row)])
      tst[col][row]= rval/cval
      s_t[col][row]= (str(rval)+ "/" + str(cval))
  return tst, s_t

In [ ]:
main = 'Weather'
c, c_count = np.unique(data[main], return_counts=True)
print(c, c_count, end='\n\n')
total = sum(c_count)
t_p = {}
for m, mval in zip(c, c_count):
  prob = mval/total
  t_p[m] = prob
  print(f"P({m}) = {mval} / {total} = {prob}\n")
trgt = data.columns
targets = np.delete(trgt, np.where(trgt==main))
temp = {}
for target in targets:
  print(f"\nP({target}|{main}): ")
  tst, s_t = margin(data, main, target)
  temp[target] = tst
  print(s_t)
  print(tst)
  print('\n')
res = {'Crop Cultivation': 'No', "Land Elevation": 'Medium', 'Temp':'Medium', 'Soil Type':'Silt'}
for m in c:
  print(f"P({m}| ", end ="")
  for x, y in res.items():
    print(f'{x} = {y} and ', end = "")
  print(") = ", end = "")
  result = 1
  for x, y in res.items():
    result *= temp[x][m][y]
    print(temp[x][m][y], end = " * ")
  result *= t_p[m]
  print(f"{t_p[m]} = {result}")
print('\n\n\n')

['Rainy' 'Sunny'] [4 8]

P(Rainy) = 4 / 12 = 0.3333333333333333

P(Sunny) = 8 / 12 = 0.6666666666666666


P(Land Elevation|Weather):
       Rainy Sunny
High     1/4   3/8
Low      2/4   2/8
Medium   1/4   3/8
        Rainy  Sunny
High     0.25  0.375
Low      0.50  0.250
Medium   0.25  0.375



P(Soil Type|Weather):
      Rainy Sunny
Clay    1/4   4/8
Sandy   2/4   2/8
Silt    1/4   2/8
       Rainy  Sunny
Clay    0.25   0.50
Sandy   0.50   0.25
Silt    0.25   0.25



P(Temp|Weather):
       Rainy Sunny
High     2/4   2/8
Low      1/4   3/8
Medium   1/4   3/8
        Rainy  Sunny
High     0.50  0.250
Low      0.25  0.375
Medium   0.25  0.375



P(Crop Cultivation|Weather):
    Rainy Sunny
No    2/4   4/8
Yes   2/4   4/8
     Rainy  Sunny
No     0.5    0.5
Yes    0.5    0.5


P(Rainy| Crop Cultivation = No and Land Elevation = Medium and Temp = Medium and Soil Type = Silt and ) = 0.5 * 0.25 * 0.25 * 0.25 * 0.3333333333333333 = 0.0026041666666666665
P(Sunny| Crop Cultivation = No and Land Elevation = Medium and Temp = Medium and Soil Type = Silt and ) = 0.5 * 0.375 * 0.375 * 0.25 * 0.6666666666666666 = 0.01171875

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [ ]:
temp

{'Cloudy':                rainy  sunny
 cloudy      0.333333   0.75
 not cloudy  0.666667   0.25, 'Temparature':           rainy  sunny
 cold   0.666667    0.5
 sunny  0.333333    0.5}

In [ ]:
temp['Cloudy']['rainy']['cloudy']

0.3333333333333333

In [ ]:
x = data.copy()
x

  Temparature      Cloudy Weather
0        cold      cloudy   sunny
1       sunny  not cloudy   sunny
2        cold  not cloudy   rainy
3        cold      cloudy   rainy
4       sunny      cloudy   sunny
5       sunny  not cloudy   rainy
6        cold      cloudy   sunny

In [ ]:
x.loc[x["Temparature"] == 'sunny', "Temparature"] = "hot"

In [ ]:
x

  Temparature      Cloudy Weather
0        cold      cloudy   sunny
1         hot  not cloudy   sunny
2        cold  not cloudy   rainy
3        cold      cloudy   rainy
4         hot      cloudy   sunny
5         hot  not cloudy   rainy
6        cold      cloudy   sunny